<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Add Student</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo_style.css">
    <style>
    .center {
    position: absolute;
    top:65%;
    bottom: 0;
    left: 17%;
    right: 0; 
    margin: auto;
    }
    </style>
</head>
<body>
    <% if (errorMessage) { %>
		<div class="alert alert-warning" style="text-align: center; width: auto;"><%= errorMessage %></div>
	<% } %>
    <header class="site-header container animated fadeInDown">
        <div class="header-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-branding">
                        <a href="<%= process.env.HOST %>/home">
                            <h1>Library</h1>
                        </a>
                    </div>
                </div>
                <a href="#" class="toggle-nav hidden-md hidden-lg">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="col-md-8">
                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a class="show-1 active homebutton" href="<%= process.env.HOST %>/add-student">Add Student</a></li>
                            <li><a href="<%= process.env.HOST %>/searchStudent">Profile</a></li>
                            <li><a href="<%= process.env.HOST %>/get-students">All Students</a></li>
                            <li><a href="<%= process.env.HOST %>/deleteStudent">Remove Student</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                    <nav id="nav" class="main-navigation menu-responsive hidden-md hidden-lg">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a class="show-1 active homebutton" href="<%= process.env.HOST %>/add-student">Add Student</a></li>
                            <li><a href="<%= process.env.HOST %>/searchStudent">Profile</a></li>
                            <li><a href="<%= process.env.HOST %>/get-students">All Students</a></li>
                            <li><a href="<%= process.env.HOST %>/deleteStudent">Remove Student</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <div id="menu-1" class="homepage home-section container">
        <div class="home-intro text-center">
            <h2 class="animated fadeInLeft" style="text-align: center;">Add Student</h2>  
        </div>
    </div>
    <main><div class="col-md-5 col-sm-7 center">
        <form action="/add-student" method="post" enctype="multipart/form-data">
                
            <fieldset class="col-md-7 col-sm-7">
                <label for="name">Name:</label>
                <input name="name" id="name" class="form-control" value="<%= student.name %>" placeholder="Name" type="text" required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7" >
                <label for="roll">Roll No:</label>
                <input type="text" id="roll" value="<%= student.roll %>" class="form-control" name="roll_no" placeholder="Roll No [0-100]">
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="gender">Gender:</label>
                <select id="gender"class="form-control" name="gender" value="<%= student.gender %>"required>
                    <option disabled selected value>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="class">Class:</label>
                <select id="class"class="form-control" value="<%= student.clas %>" name="class"required>
                    <option disabled selected value>Class</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="sec">Section:</label>
                <select id="sec" class="form-control" name="section" value="<%= student.section %>"
                    class="custom-select" required>
                    <option disabled selected value>Section</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="email">Email:</label>
                <input id="email" class="form-control" name="email" value="<%= student.email %>"placeholder="Email" type="email" required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="image">Image:</label>
                <input  class="form-control" type="file" name="image" id="image" required>
            </fieldset>
            
            <fieldset class="col-md-7 col-sm-7">
                <br>
                <button type="submit" class="btn btn-primary btn-block " name="create" >Submit</button>
                <br>
                <br>
            </fieldset>
        </form>  
        </div>   
</main>
    
            <span class="border-top"></span>
            <span class="border-left"></span>
            <span class="border-right"></span>
            <span class="border-bottom"></span>
            <span class="shape-1"></span>
            <span class="shape-2"></span>

            <script src="js/jquery.min.js"></script>
            <script src="js/templatemo_custom.js"></script>
</body>

</html>