<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light justify-content-center" style="background-color: #f4511e; height:65px; color:white;">
        <a class="navbar-brand" style="position:absolute; left:20px;  padding:10px; border-radius:2px; box-shadow: 5px 5px 5px scarlet;" href="<%= process.env.HOST %>/home"><h4 style="color:white; font-family: Montserrat, sans-serif;text-shadow: 2px 2px gray; font-weight:bold;">HOME</h4></a>
        <a class="navbar-brand" style="position:absolute; right:20px;"  href="<%= process.env.HOST %>/logout"><h5 style="color:white;font-family: Montserrat, sans-serif;text-shadow: 2px 2px gray; font-weight:bold; ">LOG OUT</h5></a>
      <span  style="color:white; font-family: Montserrat, sans-serif;">
        <h1 >VIEW STUDENT LIST</h1>
      </span>
    </nav>   
    <div class="container text-center">
            <!-- <h1 class="py-4 bg-danger text-light rounded">View Nominal List</h1> -->
            <div class="container" style="margin-top:17px;">
            <div class="card bg-light" >
            <div class="d-flex justify-content-center" >
    
        
    <form style="padding : 10px; margin-left: 20px;" action="/get-studentsByClass" method="post">
            <button type="submit" class="btn btn-primary btn-block " style="background-color: #f4511e; border: 2px solid #f4511e;" name="byCompany">Students By CLass</button>
            <br>
            <select required name="clas" class="custom-select">
                <option disabled selected value>Class</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                
            </select>
            
        
    </form>
    <br>
    <br>
    <form style="padding : 10px; margin-left: 20px;" action="/get-studentById" method="post">
    <button type="submit" class="btn btn-primary btn-block " style="background-color: #f4511e;  border: 2px solid #f4511e;" name="search">Search Student</button>
    <br>
    <input  name="no" placeholder="Library No" type="text" class="form-control"/>	
    </form>
    <br>
    <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="d-flex table-data">
    
    <table class="table table-striped table-bordered table-light" >
        <br>
           <thead  style="background-color: #f4511e;color:white;">
        <tr>
            <th>S/No</th>
            <th>LIBRARY NO</th>
            <th>ROLL NO</th>
            <th>NAME</th>
            <th>CLASS</th>
            <th>SECTION</th>
            <th>GENDER</th>
            <th>EMAIL</th>
            
        </tr>
    </thead>
      <% if(data.length){ 
          for(var i = 0;i < data.length;i++) { %>
            <tbody id="tbody">
      <tr>
        <td><%=(i+1)%></td>
        <td><%=data[i].lib_no%></td>
        <td><%=data[i].roll_no%></td>
        <td><%=data[i].name%></td>
        <td><%=data[i].std%></td>
        <td><%=data[i].section%></td>
        <td><%=data[i].gender%></td>
        <td><%=data[i].email%></td>
        
      </tr>
      
      <% }
      }else{ %>
      <tr>
        <td align="center" colspan="8">No Student Found</td>
      </tr>
    <% } %>
</tbody>
</table>
</div>
    </body>
</html>