<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>All Student</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo_style.css">
</head>

<body>
       <header class="site-header container animated fadeInDown">
        <div class="header-wrapper">
            <div class="row">
                <div class="col-md-4">
                        <a href="<%= process.env.HOST %>/home">
                            <h1>Library</h1>
                        </a>
                    </div>
                <div class="col-md-8">
                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a href="<%= process.env.HOST %>/add-student">Add
                                    Student</a></li>
                            <li><a href="<%= process.env.HOST %>/searchStudent">Profile</a></li>
                            <li><a class="show-1 active" href="<%= process.env.HOST %>/get-students">All Students</a></li>
                            <li><a href="<%= process.env.HOST %>/deleteStudent">Remove Student</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                    <nav id="nav" class="main-navigation menu-responsive hidden-md hidden-lg">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a href="<%= process.env.HOST %>/add-student">Add Student</a></li>
                            <li><a href="<%= process.env.HOST %>/searchStudent">Profile</a></li>
                            <li><a class="show-1 active" href="<%= process.env.HOST %>/get-students">All Students</a></li>
                            <li><a  href="<%= process.env.HOST %>/deleteStudent">Remove Student</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div id="menu-1" class="homepage home-section container">
        <div class="home-intro text-center">
            <h2 class="animated fadeInLeft">All Student</h2>  
        </div>
    </div>
    <div class="container text-center">
        <div class="container">
        <div class="card bg-light" >
        <div  style="margin-left: 230px;" >

    
<form class="col-md-4"action="/get-studentsByClass" method="post">
        <button type="submit" class="btn btn-primary btn-block " name="byCompany">Students By CLass</button>
        <br>
        <select required name="clas" class="form-control">
            <option disabled selected value>Class</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            
        </select>
        
    
</form>
<form class="col-md-4"  action="/get-studentById" method="post">
<button type="submit" class="btn btn-primary btn-block " name="search">Search Student</button>
<br>
<input  name="no" placeholder="Library No" type="text" class="form-control"/>	
</form>
<br>
<br>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="d-flex table-data">

<table class="table table-striped table-bordered table-light" >
    <br>
       <thead  style="color:white; ">
    <tr>
        <th>S/No</th>
        <th>LIBRARY NO</th>
        <th>ROLL NO</th>
        <th>NAME</th>
        <th>CLASS</th>
        <th>SECTION</th>
        <th>GENDER</th>
        <th>EMAIL</th>
        
    </tr>
</thead>
  <% if(data.length){ 
      for(var i = 0;i < data.length;i++) { %>
        <tbody id="tbody" style="color: black;">
  <tr>
    <td><%=(i+1)%></td>
    <td><%=data[i].lib_no%></td>
    <td><%=data[i].roll_no%></td>
    <td><%=data[i].name%></td>
    <td><%=data[i].std%></td>
    <td><%=data[i].section%></td>
    <td><%=data[i].gender%></td>
    <td><%=data[i].email%></td>
    
  </tr>
  
  <% }
  }else{ %>
  <tr>
    <td align="center" colspan="8">No Student Found</td>
  </tr>
<% } %>
</tbody>
</table>
</div>
    
            <span class="border-top"></span>
            <span class="border-left"></span>
            <span class="border-right"></span>
            <span class="border-bottom"></span>
            <span class="shape-1"></span>
            <span class="shape-2"></span>

            <script src="js/jquery.min.js"></script>
            <script src="js/templatemo_custom.js"></script>
</body>

</html>