<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Library Home</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo_style.css">
</head>

<body>
    <header class="site-header container animated fadeInDown">
        <div class="header-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-branding">
                        <a href="<%= process.env.HOST %>/home">
                            <h1>Library</h1>
                        </a>
                    </div>
                </div>
                <a href="#" class="toggle-nav hidden-md hidden-lg">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="col-md-8">
                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                        <ul class="main-menu">
                            <li><a class="show-1 active homebutton" href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a  href="<%= process.env.HOST %>/add-student">Student</a></li>
                            <li><a  href="<%= process.env.HOST %>/addBook">Book</a></li>
                            <li><a href="<%= process.env.HOST %>/issue">Issue</a></li>
                            <li><a href="<%= process.env.HOST %>/getBooks">Library Status</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-8">
                    <nav id="nav" class="main-navigation menu-responsive hidden-md hidden-lg">
                        <ul class="main-menu">
                            <li><a class="show-1 active homebutton" href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a  href="<%= process.env.HOST %>/add-student">Student</a></li>
                            <li><a href="<%= process.env.HOST %>/addBook">Book</a></li>
                            <li><a href="<%= process.env.HOST %>/issue">Issue</a></li>
                            <li><a href="<%= process.env.HOST %>/getBooks">Library Status</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <div id="menu-container">
        <div id="menu-1" class="homepage home-section container">
            <div class="home-intro text-center">
                <h2 class="welcome-title animated fadeInLeft">Library Rules</h2>
                <p class="animated fadeInRight">
                <ol>
                    <li>1. All students of the school are members of the library</li>
                    <li>2. A student can borrow books for a period of one week</li>
                    <li>3. Marking, underlining or writing on library books, periodicals, and newspapers is strictly
                        forbidden</li>
                    <li>4. If the books are not returned within the specified time it will be viewed seriously and fine
                        will be charged as per rules</li>
                    <li>5. The Librarian may call for a book at any time, even if the normal period of loan has not
                        expired</li>
                    <li>6. In case of book is misused, wrongly handled or lost the person concerned will have to replace
                        the book or pay the current market price of the book</li>
                    <li>7. A ‘No Dues Certificate’ by each student is to be obtained from the Librarian while his/her
                        transfer/withdrawal from the school</li>
                </ol>
                </p>
            </div>
        <span class="border-top"></span>
        <span class="border-left"></span>
        <span class="border-right"></span>
        <span class="border-bottom"></span>
        <span class="shape-1"></span>
        <span class="shape-2"></span>

        <script src="js/jquery.min.js"></script>
        <script src="js/templatemo_custom.js"></script>
</body>

</html>