<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Issue Book</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo_style.css">
    <style>
    
        .center {
    
    position: absolute;
    top:65%;
    bottom: 0;
    left: 17%;
    right: 0;
      
    margin: auto;
    }
    </style>
</head>

<body>
    <% if (errorMessage) { %>
        <div class="alert alert-warning" style="text-align: center; width: auto;"><%= errorMessage %></div>
        <% } %>
       <header class="site-header container animated fadeInDown">
        <div class="header-wrapper">
            <div class="row">
                <div class="col-md-4">
                        <a href="<%= process.env.HOST %>/home">
                            <h1>Library</h1>
                        </a>
                    </div>
                <div class="col-md-8">
                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a class="show-1 active" href="<%= process.env.HOST %>/issue">Issue Book</a></li>
                            <li><a href="<%= process.env.HOST %>/issueHistory">Issue History</a></li>
                            
                        
                        </ul>
                    </nav>
                    <nav id="nav" class="main-navigation menu-responsive hidden-md hidden-lg">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a class="show-1 active" href="<%= process.env.HOST %>/issue">Issue Book</a></li>
                            <li><a href="<%= process.env.HOST %>/issueHistory">Issue History</a></li>
                            
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div id="menu-1" class="homepage home-section container">
        <div class="home-intro text-center">
            <h2 class="animated fadeInLeft" style="text-align: center;">Issue Book</h2>  
        </div>
    </div>
    <main><div class="col-md-5 col-sm-7 center">
        <form action="/getdata" method="post" enctype="multipart/form-data">
                
            <fieldset class="col-md-7 col-sm-7">
                <label for="lib">Library No:</label>
                <input id="lib" name="lib_no" class="form-control" value="<%= issue.lib_no %>"
                                    placeholder="Lib No" type="text" required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7" >
                <label for="name">Name:</label>
                <input name="name" id="name" class="form-control" value="<%= issue.name %>" placeholder="Name"
                                    type="text"  required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="bookid">Book Id:</label>
                <input name="bookId" id="bookid"class="form-control" value="<%= issue.bookid %>"
                                    placeholder="Book ID" type="text" required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="bname">Book Name:</label>
                <input name="bookname" id="bname" class="form-control" value="<%= issue.bookname %>"
                                    placeholder="Book Name" type="text"  required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="author">Author:</label>
                <input name="author" class="form-control" id="author" value="<%= issue.author %>"
                                    placeholder="Author" type="text"  required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="idate">Issue Date:</label>
                <input id="idate"name="issuedate" class="form-control" value="<%= issue.issuedate %>"
                                    placeholder="issuedate" type="date" required>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
                <label for="ddate">Due Date:</label>
                <input name="duedate" class="form-control" id="ddate" value="<%= issue.duedate %>"
                                    placeholder="Due Date" type="date"  required>
            </fieldset>
            
            <fieldset class="col-md-6 col-sm-7">
                <br>
                <button type="submit" style="margin-left: 10%;" class="btn btn-primary btn-block " name="create" >Get Data</button>
                <br>
            </fieldset>
            <fieldset class="col-md-7 col-sm-7">
            <button type="submit" class="btn btn-primary btn-block " formaction="/issued"
                                        name="Issue">Issue</button>
                                        <br>
                                        <br>
                                        </fieldset>

            
        </form>
        </div>

    
</main>