<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;">
    <title>Student Profile</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo_style.css">
</head>
<style>
    .center {

position: absolute;
top:55%;
bottom: 0%;
left: 0;
right: 0;
  
margin: auto;
}
.center1 {

position: absolute;
top:75%;
bottom: 0%;
left: 0;
right: 0;
  
margin: auto;
}
.issue {
    text-align: center; margin-top: 200px;
}
</style>

<body>
    <% if (errorMessage) { %>
		<div class="alert alert-warning" style="text-align: center; width: auto;"><%= errorMessage %></div>
	<% } %>
    <header class="site-header container animated fadeInDown">
        <div class="header-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-branding">
                        <a href="<%= process.env.HOST %>/home">
                            <h1>Library</h1>
                        </a>
                    </div>
                </div>
                <a href="#" class="toggle-nav hidden-md hidden-lg">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="col-md-8">
                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a href="<%= process.env.HOST %>/add-student">Add
                                    Student</a></li>
                            <li><a class="show-1 active" href="<%= process.env.HOST %>/searchStudent">Profile</a></li>
                            <li><a href="<%= process.env.HOST %>/get-students">All Students</a></li>
                            <li><a href="<%= process.env.HOST %>/deleteStudent">Remove Student</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                    <nav id="nav" class="main-navigation menu-responsive hidden-md hidden-lg">
                        <ul class="main-menu">
                            <li><a href="<%= process.env.HOST %>/home">Home</a></li>
                            <li><a href="<%= process.env.HOST %>/add-student">Add Student</a></li>
                            <li><a class="show-1 active" href="<%= process.env.HOST %>/searchStudent">Profile</a></li>
                            <li><a href="<%= process.env.HOST %>/get-students">All Students</a></li>
                            <li><a href="<%= process.env.HOST %>/deleteStudent">Remove Student</a></li>
                            <li><a href="<%= process.env.HOST %>/logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div id="menu-1" class="homepage home-section container">
        <div class="home-intro text-center">
            <h2 class="animated fadeInLeft">Student profile</h2>  
        </div>
    </div>

    <div class="container text-center center">
        <div>
            <form action="/searchStudent" method="post">
     
            <input name="id"  style="width:300px; height: 38px; text-align:center; color: black;" placeholder="Library No" type="text"/>
            <input type="submit" value="Search Student" style=" height:40px; width: 120px; color: black;" name="search" />
            </form>
            <br> 
            </div>
        </div>
        <% if(condition){%>
            <div class="container wrap"  >
                <div class="row">
                    <div style="border: 1px solid red; height: 230px; width: 450px; " class="center1"  >
                        <div >
                            <div class="row">
                                <div style="margin-left: 30px; margin-top: 15px;">
                                    <img width="150" height="200"src="/<%= data[0].image %>" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div style="margin-left: 230px; margin-top: -185px;">
                                    <h4 style="text-align: left;"><%= data[0].name %></h4>
                                    <p style="text-align: left;">
                                        Library No: <%= data[0].lib_no %>
                                        <br />
                                        Class: <%= data[0].std %>
                                        <br />
                                        Section: <%= data[0].section %>
                                        <br />
                                        Roll No: <%= data[0].roll_no %>
                                        <br />
                                        Gender: <%= data[0].gender %>
                                        <br />
                                        Email: <%= data[0].email %>    
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <h3 class="issue">Issued Books</h3>
            <div class="d-flex table-data" style="margin-top: 20px;">
                
                <table class="table table-striped table-bordered table-light" >
                    <br>
                    <thead style="color:white;">
                        <tr>
                            <th>S/No</th>
                            <th>ISSUE ID</th>
                            <th>LIB NO</th>
                            <th>NAME</th>
                            <th>BOOK ID</th>
                            <th>BOOK NAME</th>
                            <th>ISSUE DATE</th>
                            <th>DUE DATE</th>
                            <th>ACTION</th>
        
                        </tr>
                    </thead>
                    <% if(data1.length){ 
                  for(var i = 0;i < data1.length;i++) { %>
                    <tbody id="tbody" style="color: black;">
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=data1[i].issueId%></td>
                            <td><%=data1[i].lib_no%></td>
                            <td><%=data1[i].name%></td>
                            <td><%=data1[i].bookId%></td>
                            <td><%=data1[i].bookname%></td>
                            <td><%=data1[i].issuedate%></td>
                            <td><%=data1[i].duedate%></td>
                            <td><form action="/returnBook" method="post">
                                <input type="hidden" value="<%=data1[i].bookId %>" name="book" >
                                <input type="hidden" value="<%=data1[i].issueId %>" name="id" >
                                <input type="submit" value="Return" style="height:40px; width: 120px;" name="Remove" />
                                </form></td>
        
                        </tr>
        
                        <% }
              }else{ %>
                        <tr>
                            <td align="center" colspan="9">No Books Issued</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <h3 style="text-align: center; margin-top: 20px;">Due Books</h3>
            <div class="d-flex table-data" style="margin-top: 20px;">
                
                <table class="table table-striped table-bordered table-light" >
                    <br>
                    <thead style="color:white;">
                        <tr>
                            <th>S/No</th>
                            <th>ISSUE ID</th>
                            <th>LIB NO</th>
                            <th>NAME</th>
                            <th>BOOK ID</th>
                            <th>BOOK NAME</th>
                            <th>ISSUE DATE</th>
                            <th>DUE DATE</th>
                            <th>ACTION</th>
        
                        </tr>
                    </thead>
                    <% if(data2.length){ 
                  for(var i = 0;i < data2.length;i++) { %>
                    <tbody id="tbody" style="color: black;">
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=data2[i].issueId%></td>
                            <td><%=data2[i].lib_no%></td>
                            <td><%=data2[i].name%></td>
                            <td><%=data2[i].bookId%></td>
                            <td><%=data2[i].bookname%></td>
                            <td><%=data2[i].issuedate%></td>
                            <td><%=data2[i].duedate%></td>
                            <td><form action="/returnBook" method="post">
                                <input type="hidden" value="<%=data2[i].bookId %>" name="book" >
                                <input type="hidden" value="<%= data2[i].issueId %>" name="id" />
                                <input type="submit" value="Return" style="height:40px;width: 120px;" name="Remove" />
                                </form></td>
        
                        </tr>
        
                        <% }
              }else{ %>
                        <tr>
                            <td align="center" colspan="9">No Due Books</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>

        <span class="border-top"></span>
            <span class="border-left"></span>
            <span class="border-right"></span>
            <span class="border-bottom"></span>
            <span class="shape-1"></span>
            <span class="shape-2"></span>

            <script src="js/jquery.min.js"></script>
            <script src="js/templatemo_custom.js"></script>
</body>

</html>